In [500]:
import pandas as pd
from pybaseball import statcast,playerid_reverse_lookup
from pybaseball import schedule_and_record
from datetime import datetime
import time
pd.options.display.max_rows=100
pd.options.display.max_columns=100

In [453]:
prev_data=statcast("2018-7-5","2018-7-13")

This is a large query, it may take a moment to complete
Completed sub-query from 2018-07-05 to 2018-07-10
Completed sub-query from 2018-07-11 to 2018-7-13

In [503]:
latest=prev_data[prev_data.events.notnull()]
latest.to_csv("abs_7-13.csv",index=False)

In [504]:
df1=pd.read_csv("abs_5-11.csv")
df2=pd.read_csv("abs_6-24.csv")
df3=pd.read_csv("abs_7-4.csv")
df4=pd.read_csv("abs_7-13.csv")

In [456]:
df1.shape,df2.shape,df3.shape,df4.shape

((38831, 89), (40000, 89), (10350, 90), (8183, 90))

In [505]:
df=pd.concat([df1,df2,df3,df4],axis=0).reset_index(drop=True)

In [507]:
players_ids.head()

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,abreu,jose,547989,abrej003,abreujo02,15676,2014.0,2018.0
1,acuna,ronald,660670,NaN,acunaro01,18401,2018.0,2018.0
2,adames,willy,642715,NaN,adamewi01,15986,2018.0,2018.0
3,adams,lane,572669,adaml001,adamsla01,10767,2014.0,2018.0
4,adams,matt,571431,adamm002,adamsma01,9393,2012.0,2018.0

In [509]:
players_ids=playerid_reverse_lookup(df.batter.unique())
id_df=players_ids[['name_last','name_first','key_mlbam']]

Gathering player lookup table. This may take a moment.

In [512]:
df2=df.merge(id_df, how = 'left',left_on='batter',right_on='key_mlbam')
df3=df2.drop(['key_mlbam'],axis=1)

In [513]:
df3.to_pickle("lastabs.pkl")

In [497]:
df3['']

,index,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,spin_dir,spin_rate_deprecated,break_angle_deprecated,break_length_deprecated,zone,des,game_type,stand,p_throws,home_team,away_team,type,hit_location,bb_type,balls,strikes,game_year,pfx_x,pfx_z,plate_x,plate_z,on_3b,on_2b,on_1b,outs_when_up,inning,inning_topbot,hc_x,hc_y,tfs_deprecated,tfs_zulu_deprecated,pos2_person_id,umpire,sv_id,vx0,vy0,vz0,ax,ay,az,sz_top,sz_bot,hit_distance_sc,launch_speed,launch_angle,effective_speed,release_spin_rate,release_extension,game_pk,pos1_person_id,pos2_person_id.1,pos3_person_id,pos4_person_id,pos5_person_id,pos6_person_id,pos7_person_id,pos8_person_id,pos9_person_id,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number,pitch_name,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,271,FT,2018-07-12,95.2,-1.6777,6.4294,Ryan Madson,642708.0,425492.0,grounded_into_double_play,hit_into_play,NaN,NaN,NaN,NaN,7.0,"Amed Rosario grounds into a double play, short...",R,R,R,NYM,WSH,X,6.0,ground_ball,1.0,0.0,2018.0,-1.3766,0.8103,-0.3807,2.0802,NaN,NaN,408314.0,1.0,9.0,Bot,122.52,131.39,NaN,NaN,446308.0,NaN,180713_015938,6.4673,-138.3538,-7.5604,-19.0595,30.3920,-20.3463,3.6534,1.3900,12.0,99.2,-8.906,95.085,2092.0,6.258,530810.0,425492.0,446308.0,448602.0,502517.0,543685.0,607208.0,665742.0,572191.0,547180.0,54.2411,0.284,0.273,0.0,1.0,0.0,0.0,2.0,77.0,2.0,2-Seam Fastball,4.0,5.0,4.0,5.0,5.0,4.0,4.0,5.0,Standard,Standard
1,291,FF,2018-07-12,94.7,-1.6669,6.4115,Ryan Madson,408314.0,425492.0,force_out,hit_into_play,NaN,NaN,NaN,NaN,5.0,"Jose Reyes grounds into a force out, fielded b...",R,L,R,NYM,WSH,X,6.0,ground_ball,1.0,2.0,2018.0,-0.9696,1.2471,-0.1934,2.0310,NaN,NaN,571841.0,0.0,9.0,Bot,128.10,132.92,NaN,NaN,446308.0,NaN,180713_015715,6.0199,-137.5935,-8.5312,-13.6810,30.9819,-14.6147,2.9475,1.2703,2.0,80.0,-42.547,94.709,2111.0,6.412,530810.0,425492.0,446308.0,448602.0,502517.0,543685.0,607208.0,665742.0,572191.0,547180.0,54.0873,0.115,0.121,0.0,1.0,0.0,0.0,2.0,76.0,4.0,4-Seam Fastball,4.0,5.0,4.0,5.0,5.0,4.0,4.0,5.0,Strategic,Standard
2,334,FF,2018-07-12,94.8,-1.4456,6.4651,Ryan Madson,608700.0,425492.0,single,hit_into_play_no_out,NaN,NaN,NaN,NaN,6.0,Kevin Plawecki singles on a line drive to cent...,R,R,R,NYM,WSH,X,NaN,line_drive,1.0,1.0,2018.0,-0.9926,0.9839,0.4719,2.4897,NaN,NaN,NaN,0.0,9.0,Bot,123.02,66.37,NaN,NaN,446308.0,NaN,180713_015504,7.2330,-137.8543,-6.9286,-14.2512,29.9343,-18.3085,3.3296,1.3709,197.0,102.8,10.072,94.956,2100.0,6.366,530810.0,425492.0,446308.0,448602.0,502517.0,543685.0,607208.0,665742.0,572191.0,547180.0,54.1339,0.886,0.887,0.9,1.0,1.0,0.0,4.0,75.0,3.0,4-Seam Fastball,4.0,5.0,4.0,5.0,5.0,4.0,4.0,5.0,Standard,Standard
3,364,SI,2018-07-12,97.7,-1.4858,6.0982,Jeurys Familia,448602.0,544727.0,strikeout,swinging_strike,NaN,NaN,NaN,NaN,11.0,Mark Reynolds strikes out swinging.,R,R,R,NYM,WSH,S,2.0,NaN,1.0,2.0,2018.0,-1.5483,0.2400,-1.5787,2.5058,NaN,NaN,NaN,2.0,9.0,Top,NaN,NaN,NaN,NaN,608700.0,NaN,180713_015133,3.2174,-142.1196,-4.6495,-21.2999,34.2198,-28.1260,3.3698,1.3910,NaN,NaN,NaN,96.661,2262.0,5.829,530810.0,544727.0,608700.0,527038.0,452678.0,430832.0,408314.0,624424.0,544925.0,607043.0,54.6702,NaN,NaN,0.0,1.0,0.0,0.0,NaN,74.0,4.0,Sinker,4.0,5.0,5.0,4.0,5.0,4.0,5.0,4.0,Infield shift,Standard
4,404,SL,2018-07-12,89.5,-1.5422,6.1567,Jeurys Familia,547180.0,544727.0,strikeout,swinging_strike,NaN,NaN,NaN,NaN,9.0,Bryce Harper strikes out swinging.,R,L,R,NYM,WSH,S,2.0,NaN,1.0,2.0,2018.0,-0.0020,0.3689,0.3747,1.3406,NaN,NaN,NaN,1.0,9.0,Top,NaN,NaN,NaN,NaN,608700.0,NaN,180713_014950,4.6428,-130.0463,-6.5436,-0.9129,24.9410,-27.0952,2.9776,1.2804,NaN,NaN,NaN,88.165,2368.0,5.344,530810.0,544727.0,608700.0,527038.0,452678.0,430832.0,408314.0,624424.0,544925.0,607043.0,55.1559,NaN,NaN,0.0,1.0,0.0,0.0,NaN,73.0,4.0,Slider,4.0,5.0,5.0,4.0,5.0,4.0,5.0,4.0,Infield shift,Standard

In [477]:
df.player_name.nunique()

1069

In [478]:
df.events.value_counts()

field_out                       42389
strikeout                       23682
single                          15050
double                           4804
home_run                         3187
force_out                        2154
grounded_into_double_play        2035
walk                             1451
sac_fly                           684
sac_bunt                          467
triple                            467
double_play                       257
hit_by_pitch                      186
fielders_choice_out               179
field_error                       159
strikeout_double_play             100
fielders_choice                    59
caught_stealing_2b                 27
sac_fly_double_play                 6
pickoff_caught_stealing_2b          5
catcher_interf                      3
other_out                           3
pickoff_caught_stealing_3b          2
pickoff_1b                          2
pickoff_caught_stealing_home        1
caught_stealing_home                1
triple_play                         1
caught_stealing_3b                  1
sac_bunt_double_play                1
pickoff_2b                          1
Name: events, dtype: int64

In [479]:
df.events.isnull().sum()

0

In [480]:
df['hit']=df.events.apply(lambda x: 1 if x in ["single",'double','home_run','triple'] else 0)
df['ab']=df.events.apply(lambda x: 0 if x in ["sac_fly",'sac_bunt','sac_fly_double_play','sac_bunt_double_play'] else 1)

In [481]:
df['date']=pd.to_datetime(df['game_date'],infer_datetime_format=True)
sorted(df.date.unique())

[numpy.datetime64('2018-03-29T00:00:00.000000000'),
 numpy.datetime64('2018-03-30T00:00:00.000000000'),
 numpy.datetime64('2018-03-31T00:00:00.000000000'),
 numpy.datetime64('2018-04-01T00:00:00.000000000'),
 numpy.datetime64('2018-04-02T00:00:00.000000000'),
 numpy.datetime64('2018-04-03T00:00:00.000000000'),
 numpy.datetime64('2018-04-04T00:00:00.000000000'),
 numpy.datetime64('2018-04-05T00:00:00.000000000'),
 numpy.datetime64('2018-04-06T00:00:00.000000000'),
 numpy.datetime64('2018-04-07T00:00:00.000000000'),
 numpy.datetime64('2018-04-08T00:00:00.000000000'),
 numpy.datetime64('2018-04-09T00:00:00.000000000'),
 numpy.datetime64('2018-04-10T00:00:00.000000000'),
 numpy.datetime64('2018-04-11T00:00:00.000000000'),
 numpy.datetime64('2018-04-12T00:00:00.000000000'),
 numpy.datetime64('2018-04-13T00:00:00.000000000'),
 numpy.datetime64('2018-04-14T00:00:00.000000000'),
 numpy.datetime64('2018-04-15T00:00:00.000000000'),
 numpy.datetime64('2018-04-16T00:00:00.000000000'),
 numpy.datetime64('2018-04-17T00:00:00.000000000'),
 numpy.datetime64('2018-04-18T00:00:00.000000000'),
 numpy.datetime64('2018-04-19T00:00:00.000000000'),
 numpy.datetime64('2018-04-20T00:00:00.000000000'),
 numpy.datetime64('2018-04-21T00:00:00.000000000'),
 numpy.datetime64('2018-04-22T00:00:00.000000000'),
 numpy.datetime64('2018-04-23T00:00:00.000000000'),
 numpy.datetime64('2018-04-24T00:00:00.000000000'),
 numpy.datetime64('2018-04-25T00:00:00.000000000'),
 numpy.datetime64('2018-04-26T00:00:00.000000000'),
 numpy.datetime64('2018-04-27T00:00:00.000000000'),
 numpy.datetime64('2018-04-28T00:00:00.000000000'),
 numpy.datetime64('2018-04-29T00:00:00.000000000'),
 numpy.datetime64('2018-04-30T00:00:00.000000000'),
 numpy.datetime64('2018-05-01T00:00:00.000000000'),
 numpy.datetime64('2018-05-02T00:00:00.000000000'),
 numpy.datetime64('2018-05-03T00:00:00.000000000'),
 numpy.datetime64('2018-05-04T00:00:00.000000000'),
 numpy.datetime64('2018-05-05T00:00:00.000000000'),
 numpy.datetime64('2018-05-06T00:00:00.000000000'),
 numpy.datetime64('2018-05-07T00:00:00.000000000'),
 numpy.datetime64('2018-05-08T00:00:00.000000000'),
 numpy.datetime64('2018-05-09T00:00:00.000000000'),
 numpy.datetime64('2018-05-10T00:00:00.000000000'),
 numpy.datetime64('2018-05-11T00:00:00.000000000'),
 numpy.datetime64('2018-05-12T00:00:00.000000000'),
 numpy.datetime64('2018-05-13T00:00:00.000000000'),
 numpy.datetime64('2018-05-14T00:00:00.000000000'),
 numpy.datetime64('2018-05-15T00:00:00.000000000'),
 numpy.datetime64('2018-05-16T00:00:00.000000000'),
 numpy.datetime64('2018-05-17T00:00:00.000000000'),
 numpy.datetime64('2018-05-18T00:00:00.000000000'),
 numpy.datetime64('2018-05-19T00:00:00.000000000'),
 numpy.datetime64('2018-05-20T00:00:00.000000000'),
 numpy.datetime64('2018-05-21T00:00:00.000000000'),
 numpy.datetime64('2018-05-22T00:00:00.000000000'),
 numpy.datetime64('2018-05-23T00:00:00.000000000'),
 numpy.datetime64('2018-05-24T00:00:00.000000000'),
 numpy.datetime64('2018-05-25T00:00:00.000000000'),
 numpy.datetime64('2018-05-26T00:00:00.000000000'),
 numpy.datetime64('2018-05-27T00:00:00.000000000'),
 numpy.datetime64('2018-05-28T00:00:00.000000000'),
 numpy.datetime64('2018-05-29T00:00:00.000000000'),
 numpy.datetime64('2018-05-30T00:00:00.000000000'),
 numpy.datetime64('2018-05-31T00:00:00.000000000'),
 numpy.datetime64('2018-06-01T00:00:00.000000000'),
 numpy.datetime64('2018-06-02T00:00:00.000000000'),
 numpy.datetime64('2018-06-03T00:00:00.000000000'),
 numpy.datetime64('2018-06-04T00:00:00.000000000'),
 numpy.datetime64('2018-06-05T00:00:00.000000000'),
 numpy.datetime64('2018-06-06T00:00:00.000000000'),
 numpy.datetime64('2018-06-07T00:00:00.000000000'),
 numpy.datetime64('2018-06-08T00:00:00.000000000'),
 numpy.datetime64('2018-06-09T00:00:00.000000000'),
 numpy.datetime64('2018-06-10T00:00:00.000000000'),
 numpy.datetime64('2018-06-11T00:00:00.000000000'),
 numpy.datetime64('2018-06-12T00:00:00.000000000'),
 numpy.datetime64('2018-06-13T00:00:00.000000000'),
 numpy.datetime64('2018-06-14T00:00:00.000000000'),
 numpy.datetime64('2018-06-15T00:00:00.000000000'),
 numpy.datetime64('2018-06-16T00:00:00.000000000'),
 numpy.datetime64('2018-06-17T00:00:00.000000000'),
 numpy.datetime64('2018-06-18T00:00:00.000000000'),
 numpy.datetime64('2018-06-19T00:00:00.000000000'),
 numpy.datetime64('2018-06-20T00:00:00.000000000'),
 numpy.datetime64('2018-06-21T00:00:00.000000000'),
 numpy.datetime64('2018-06-22T00:00:00.000000000'),
 numpy.datetime64('2018-06-23T00:00:00.000000000'),
 numpy.datetime64('2018-06-24T00:00:00.000000000'),
 numpy.datetime64('2018-06-25T00:00:00.000000000'),
 numpy.datetime64('2018-06-26T00:00:00.000000000'),
 numpy.datetime64('2018-06-27T00:00:00.000000000'),
 numpy.datetime64('2018-06-28T00:00:00.000000000'),
 numpy.datetime64('2018-06-29T00:00:00.000000000'),
 numpy.datetime64('2018-06-30T00:00:00.000000000'),
 numpy.datetime64('2018-07-01T00:00:00.000000000'),
 numpy.datetime64('2018-07-02T00:00:00.000000000'),
 numpy.datetime64('2018-07-03T00:00:00.000000000'),
 numpy.datetime64('2018-07-04T00:00:00.000000000'),
 numpy.datetime64('2018-07-05T00:00:00.000000000'),
 numpy.datetime64('2018-07-06T00:00:00.000000000'),
 numpy.datetime64('2018-07-07T00:00:00.000000000'),
 numpy.datetime64('2018-07-08T00:00:00.000000000'),
 numpy.datetime64('2018-07-09T00:00:00.000000000'),
 numpy.datetime64('2018-07-10T00:00:00.000000000'),
 numpy.datetime64('2018-07-11T00:00:00.000000000'),
 numpy.datetime64('2018-07-12T00:00:00.000000000')]

In [482]:
df['htd']=df.sort_values(['date','inning'],ascending=True).groupby(['player_name']).hit.cumsum()
df['abtd']=df.sort_values(['date','inning'],ascending=True).groupby(['player_name']).ab.cumsum()
df['avg']=df.htd/df.abtd

In [483]:
df[['player_name','date','inning','hit','ab','htd','abtd','avg']].sort_values(['player_name','date','inning'],ascending=True).head(100)

      player_name       date  inning  hit  ab  htd  abtd       avg
34342   A.J. Cole 2018-04-03     2.0    1   1    1     1  1.000000
34191   A.J. Cole 2018-04-03     3.0    0   1    1     2  0.500000
27480   A.J. Cole 2018-04-11     3.0    0   0    1     2  0.500000
27261   A.J. Cole 2018-04-11     5.0    0   1    1     3  0.333333
81077   A.J. Cole 2018-07-03     5.0    0   1    1     4  0.250000
81078   A.J. Cole 2018-07-03     5.0    1   1    2     5  0.400000
81079   A.J. Cole 2018-07-03     5.0    0   1    2     6  0.333333
81070   A.J. Cole 2018-07-03     6.0    0   1    2     7  0.285714
81071   A.J. Cole 2018-07-03     6.0    0   1    2     8  0.250000
81072   A.J. Cole 2018-07-03     6.0    0   1    2     9  0.222222
93153   A.J. Cole 2018-07-09     7.0    0   1    2    10  0.200000
93154   A.J. Cole 2018-07-09     7.0    1   1    3    11  0.272727
93155   A.J. Cole 2018-07-09     7.0    0   1    3    12  0.250000
93156   A.J. Cole 2018-07-09     7.0    0   1    3    13  0.230769
93147   A.J. Cole 2018-07-09     8.0    0   1    3    14  0.214286
93148   A.J. Cole 2018-07-09     8.0    0   1    3    15  0.200000
93149   A.J. Cole 2018-07-09     8.0    1   1    4    16  0.250000
90456   A.J. Cole 2018-07-11     7.0    0   1    4    17  0.235294
90457   A.J. Cole 2018-07-11     7.0    0   1    4    18  0.222222
90458   A.J. Cole 2018-07-11     7.0    0   1    4    19  0.210526
90444   A.J. Cole 2018-07-11     8.0    0   1    4    20  0.200000
90445   A.J. Cole 2018-07-11     8.0    0   1    4    21  0.190476
90446   A.J. Cole 2018-07-11     8.0    0   1    4    22  0.181818
90447   A.J. Cole 2018-07-11     8.0    1   1    5    23  0.217391
90448   A.J. Cole 2018-07-11     8.0    1   1    6    24  0.250000
35206  A.J. Ellis 2018-04-02     2.0    0   1    0     1  0.000000
34810  A.J. Ellis 2018-04-02     6.0    0   1    0     2  0.000000
34643  A.J. Ellis 2018-04-02     8.0    0   1    0     3  0.000000
34333  A.J. Ellis 2018-04-03     2.0    0   1    0     4  0.000000
34102  A.J. Ellis 2018-04-03     5.0    1   1    1     5  0.200000
33956  A.J. Ellis 2018-04-03     6.0    0   1    1     6  0.166667
31349  A.J. Ellis 2018-04-07     3.0    1   1    2     7  0.285714
31135  A.J. Ellis 2018-04-07     5.0    0   0    2     7  0.285714
30835  A.J. Ellis 2018-04-07     7.0    0   1    2     8  0.250000
30572  A.J. Ellis 2018-04-07    10.0    0   1    2     9  0.222222
27444  A.J. Ellis 2018-04-11     3.0    0   1    2    10  0.200000
24911  A.J. Ellis 2018-04-14     2.0    0   1    2    11  0.181818
24677  A.J. Ellis 2018-04-14     5.0    1   1    3    12  0.250000
24437  A.J. Ellis 2018-04-14     7.0    0   1    3    13  0.230769
22836  A.J. Ellis 2018-04-17     2.0    0   1    3    14  0.214286
22545  A.J. Ellis 2018-04-17     5.0    0   1    3    15  0.200000
22319  A.J. Ellis 2018-04-17     7.0    0   1    3    16  0.187500
17187  A.J. Ellis 2018-04-23     2.0    0   1    3    17  0.176471
17053  A.J. Ellis 2018-04-23     4.0    0   1    3    18  0.166667
16900  A.J. Ellis 2018-04-23     7.0    0   1    3    19  0.157895
16747  A.J. Ellis 2018-04-23     8.0    0   1    3    20  0.150000
11552  A.J. Ellis 2018-04-29     2.0    1   1    4    21  0.190476
11319  A.J. Ellis 2018-04-29     4.0    0   1    4    22  0.181818
11022  A.J. Ellis 2018-04-29     6.0    0   1    4    23  0.173913
10815  A.J. Ellis 2018-04-29     8.0    1   1    5    24  0.208333
10494  A.J. Ellis 2018-04-30     4.0    0   1    5    25  0.200000
10335  A.J. Ellis 2018-04-30     6.0    0   0    5    25  0.200000
10189  A.J. Ellis 2018-04-30     8.0    1   1    6    26  0.230769
8710   A.J. Ellis 2018-05-02     3.0    0   1    6    27  0.222222
8404   A.J. Ellis 2018-05-02     5.0    0   1    6    28  0.214286
4926   A.J. Ellis 2018-05-06     2.0    0   1    6    29  0.206897
4699   A.J. Ellis 2018-05-06     4.0    0   1    6    30  0.200000
4477   A.J. Ellis 2018-05-06     6.0    1   1    7    31  0.225806
4233   A.J. Ellis 2018-05-06     8.0    1   1    8    32  0.250000
2450   A.J. Ellis 2018-05-09     2.0    1   1    9    33  0.272727
2237   A.J. Ellis 2018-05-09     4.0    1   1   10    34  0.294118
2038   A.J. Ellis 2018-05-09     6.0    0   1   10    35  0.285714
1867   A.J. Ellis 2018-05-09     8.0    0   1   10    36  0.277778
727    A.J. Ellis 2018-05-11     2.0    0   1   10    37  0.270270
270    A.J. Ellis 2018-05-11     6.0    1   1   11    38  0.289474
76553  A.J. Ellis 2018-05-14     3.0    0   1   11    39  0.282051
76453  A.J. Ellis 2018-05-14     4.0    0   1   11    40  0.275000
76307  A.J. Ellis 2018-05-14     6.0    1   1   12    41  0.292683
76143  A.J. Ellis 2018-05-14     9.0    0   1   12    42  0.285714
71419  A.J. Ellis 2018-05-20     3.0    0   1   12    43  0.279070
71191  A.J. Ellis 2018-05-20     5.0    1   1   13    44  0.295455
70924  A.J. Ellis 2018-05-20     7.0    0   1   13    45  0.288889
70666  A.J. Ellis 2018-05-20     9.0    1   1   14    46  0.304348
70515  A.J. Ellis 2018-05-21     2.0    1   1   15    47  0.319149
70358  A.J. Ellis 2018-05-21     4.0    0   1   15    48  0.312500
70149  A.J. Ellis 2018-05-21     7.0    0   1   15    49  0.306122
70024  A.J. Ellis 2018-05-21     9.0    0   1   15    50  0.300000
66357  A.J. Ellis 2018-05-26     2.0    1   1   16    51  0.313725
66060  A.J. Ellis 2018-05-26     5.0    1   1   17    52  0.326923
65822  A.J. Ellis 2018-05-26     7.0    0   1   17    53  0.320755
65687  A.J. Ellis 2018-05-26     8.0    0   1   17    54  0.314815
64810  A.J. Ellis 2018-05-27     8.0    1   1   18    55  0.327273
64195  A.J. Ellis 2018-05-28     2.0    0   1   18    56  0.321429
63933  A.J. Ellis 2018-05-28     4.0    0   1   18    57  0.315789
63659  A.J. Ellis 2018-05-28     7.0    0   1   18    58  0.310345
61061  A.J. Ellis 2018-05-31     2.0    1   1   19    59  0.322034
60944  A.J. Ellis 2018-05-31     3.0    0   1   19    60  0.316667
60682  A.J. Ellis 2018-05-31     7.0    0   1   19    61  0.311475
59117  A.J. Ellis 2018-06-02     3.0    0   1   19    62  0.306452
58633  A.J. Ellis 2018-06-02     7.0    0   1   19    63  0.301587
56970  A.J. Ellis 2018-06-05     2.0    0   1   19    64  0.296875
56521  A.J. Ellis 2018-06-05     5.0    1   1   20    65  0.307692
54231  A.J. Ellis 2018-06-08     2.0    0   1   20    66  0.303030
53892  A.J. Ellis 2018-06-08     5.0    0   1   20    67  0.298507
53585  A.J. Ellis 2018-06-08     7.0    1   1   21    68  0.308824
50689  A.J. Ellis 2018-06-12     3.0    0   1   21    69  0.304348
50554  A.J. Ellis 2018-06-12     4.0    1   1   22    70  0.314286
50328  A.J. Ellis 2018-06-12     7.0    0   0   22    70  0.314286
48744  A.J. Ellis 2018-06-14     3.0    1   1   23    71  0.323944
48566  A.J. Ellis 2018-06-14     6.0    1   1   24    72  0.333333

In [484]:
df['player_team']=df.apply(lambda x: x.home_team if x.inning_topbot=="Bot" else x.away_team,axis=1)

In [485]:
teams=df.player_team.unique()
fixers={"WSH":"WSN","CWS":"CHW"}
teams_fixed=[x if x not in fixers.keys() else fixers[x] for x in teams]

In [486]:
team_schedule={}
missed=[]
for t in teams_fixed:
    try:
        d=schedule_and_record(2018,t)
        d['fix_date']=d.Date.str.replace("\(\d\)","").str.strip() + " 2018"
        d['game_date']=pd.to_datetime(d.fix_date.apply(lambda x: datetime.strptime(x,"%A, %b %d %Y")).apply(lambda x: x.strftime("%Y-%m-%d")),infer_datetime_format=True)
        d['place']=d.Home_Away.apply(lambda x: "Home" if x=="Home" else "Away")
        d2=d[d.game_date>=datetime.today()][['Tm','place',"Opp","game_date"]]
        team_schedule[t]=d2
    except ValueError:
        print(t)
        missed.append(t)

In [487]:
df.drop_duplicates(['player_name','player_team']).player_name.value_counts()
print("the only players with the same names are players who have been traded")

the only players with the same names are players who have been traded

In [488]:
trim_df.dtypes

player_name    object
player_team    object
game_date      object
ab              int64
hit             int64
dtype: object

In [489]:
## realistically, I only actually need the hit, game date, team and players
trim_df=df[['player_name','player_team','game_date','ab','hit']]
trim_df.head()

        player_name player_team   game_date  ab  hit
0   Carlos Gonzalez         COL  2018-05-11   1    0
1     Nolan Arenado         COL  2018-05-11   1    0
2  Charlie Blackmon         COL  2018-05-11   1    0
3     Jesus Aguilar         MIL  2018-05-11   1    0
4       Travis Shaw         MIL  2018-05-11   1    1

In [490]:
def player_df(player, d=trim_df):
    temp = d[d.player_name==player]
    temp=temp.sort_values(['game_date']).reset_index(drop=True)
    tm=temp.loc[len(temp)-1,'player_team']
    if tm in fixers.keys():
        sched=team_schedule[fixers[tm]]
    else:
        sched=team_schedule[tm]
    tdf= pd.concat([temp,sched])
    tdf.ab.fillna(0,inplace=True)
    tdf.hit.fillna(0,inplace=True)
    tdf.player_name.fillna(player,inplace=True)
    tdf.player_team.fillna(tm,inplace=True)
    return tdf

In [491]:
def timer(starter):
    t=time.time()-starter
    minutes=(t-(t%60))/60
    seconds=t%60
    print("it took {:.0f} minutes and {:.2f} seconds".format(minutes,seconds))

In [492]:
start=time.time()
master_df=player_df(trim_df.player_name.unique()[0])
for p in trim_df.player_name.unique()[1:]:
    got=player_df(p)
    master_df=pd.concat([master_df,got])
print(master_df.shape)
timer(start)

(169869, 8)
it took 0 minutes and 41.10 seconds

In [431]:
master_df.to_csv("master_test.csv",index=False)

In [307]:
%%timeit
master_df=player_df(trim_df.player_name.unique()[0])
for p in trim_df.player_name.unique()[1:5]:
    got=player_df(p)
    master_df=master_df.append(got)

1 loop, best of 3: 2.08 s per loop

In [315]:
master_df.shape

(445905, 97)

In [312]:
got.shape

(89181, 97)

In [303]:
## in case i lose the schedules
for k in team_schedule.keys():
    team_schedule[k].to_pickle("Schedules_7-5-18/{}.pkl".format(k))

In [292]:
df.player_name.nunique()

1028

In [169]:
for r in missed:
    try:
        d=schedule_and_record(2018,r)
        d['fix_date']=d.Date + " 2018"
        d['game_date']=pd.to_datetime(d.fix_date.apply(lambda x: datetime.strptime(x,"%A, %b %d %Y")).apply(lambda x: x.strftime("%Y-%m-%d")),infer_datetime_format=True)
        d['place']=d.Home_Away.apply(lambda x: "Home" if x=="Home" else "Away")
        d2=d[d.game_date>=datetime.today()][['Tm','place',"Opp","game_date"]]
        team_schedule[r]=d2
    except ValueError:
        print(r)

CWS
CLE
TOR
CHC
KC
SF
PIT
LAD
MIN
NYY
CIN
OAK
ATL
NYM
TB
BAL
WSH
SEA
DET

In [184]:
missing_schedules={}
for r in missed:
    try:
        d=schedule_and_record(2018,r)
        missing_schedules[r]=d
    except ValueError:
        print(r)

CWS
WSH

In [181]:
for r in missing_schedules.keys():
    d=missing_schedules[r]
    d['fix_date']=d.Date.str.replace("\(\d\)","").str.strip() + " 2018"
    try:
        d['game_date']=pd.to_datetime(d.fix_date.apply(lambda x: datetime.strptime(x,"%A, %b %d %Y")).apply(lambda x: x.strftime("%Y-%m-%d")),infer_datetime_format=True)
    except ValueError:
        print("didn't work for {}".format(r))

didn't work for KC
didn't work for DET
didn't work for CHC
didn't work for MIN
didn't work for TOR
didn't work for CLE
didn't work for ATL
didn't work for TB
didn't work for OAK
didn't work for CIN
didn't work for LAD
didn't work for NYY
didn't work for SEA
didn't work for NYM
didn't work for BAL
didn't work for PIT
didn't work for SF

In [59]:
df.to_csv("all_abs_edit.csv")

In [15]:
## statcast test
%timeit
data=statcast()

Warning: no date range supplied. Returning yesterday's Statcast data. For a different date range, try get_statcast(start_dt, end_dt).

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [3]:
data.shape

(3815, 90)

In [7]:
data[data.events.notnull()].shape

(976, 90)

### Remaining Steps

3. Spit out the X, y, z stats to hit .300 or whichever
4. Label final averages
5. Add reference lines for milestones - mendoza line, league average, team average, .300, .400
7. Finalize auto update of google sheet
8. Add hyperlink to player page?
9. Add Game opponent for each game date on tooltip
10. Add Number of remaining opponents and average against them this season