In [2]:
import pandas as pd
from pybaseball import statcast
pd.options.display.max_rows=100
pd.options.display.max_columns=100

In [3]:
df=pd.read_csv("savant_data(30).csv")

IOError: File savant_data(30).csv does not exist

In [3]:
df.shape

(40000, 89)

In [4]:
df.head()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,FF,6/20/18,95.5,-1.7171,6.2791,Asdrubal Cabrera,452678,451584,field_out,hit_into_play,...,10,8,8,10,8,10,8,10,Strategic,Strategic
1,SL,6/20/18,84.2,-2.4159,5.9941,Eric Hosmer,543333,572998,strikeout,swinging_strike,...,4,12,4,12,12,4,4,12,Standard,Standard
2,FC,6/20/18,88.5,-2.1485,6.0516,Brandon Nimmo,607043,451584,field_out,hit_into_play,...,10,8,8,10,8,10,8,10,Standard,Strategic
3,FC,6/20/18,87.5,-1.7531,6.1742,Amed Rosario,642708,451584,single,hit_into_play_no_out,...,10,8,8,10,8,10,8,10,Standard,Standard
4,SL,6/20/18,83.7,-2.4143,5.9742,Travis Jankowski,608671,572998,double,hit_into_play_score,...,2,12,2,12,12,2,2,12,Standard,Standard

In [5]:
df.player_name.nunique()

671

In [6]:
df.events.value_counts()

field_out                    17841
strikeout                     9850
single                        6260
double                        1985
home_run                      1363
force_out                      878
grounded_into_double_play      874
sac_fly                        269
triple                         217
sac_bunt                       197
double_play                    116
fielders_choice_out             81
strikeout_double_play           45
fielders_choice                 21
sac_fly_double_play              2
sac_bunt_double_play             1
Name: events, dtype: int64

In [7]:
df.events.isnull().sum()

0

In [8]:
df['hit']=df.events.apply(lambda x: 1 if x in ["single",'double','home_run','triple'] else 0)
df['ab']=df.events.apply(lambda x: 0 if x in ["sac_fly",'sac_bunt','sac_fly_double_play','sac_bunt_double_play'] else 1)

In [18]:
df['date']=pd.to_datetime(df['game_date'],infer_datetime_format=True)
sorted(df.date.unique())

[numpy.datetime64('2018-05-07T00:00:00.000000000'),
 numpy.datetime64('2018-05-08T00:00:00.000000000'),
 numpy.datetime64('2018-05-09T00:00:00.000000000'),
 numpy.datetime64('2018-05-10T00:00:00.000000000'),
 numpy.datetime64('2018-05-11T00:00:00.000000000'),
 numpy.datetime64('2018-05-12T00:00:00.000000000'),
 numpy.datetime64('2018-05-13T00:00:00.000000000'),
 numpy.datetime64('2018-05-14T00:00:00.000000000'),
 numpy.datetime64('2018-05-15T00:00:00.000000000'),
 numpy.datetime64('2018-05-16T00:00:00.000000000'),
 numpy.datetime64('2018-05-17T00:00:00.000000000'),
 numpy.datetime64('2018-05-18T00:00:00.000000000'),
 numpy.datetime64('2018-05-19T00:00:00.000000000'),
 numpy.datetime64('2018-05-20T00:00:00.000000000'),
 numpy.datetime64('2018-05-21T00:00:00.000000000'),
 numpy.datetime64('2018-05-22T00:00:00.000000000'),
 numpy.datetime64('2018-05-23T00:00:00.000000000'),
 numpy.datetime64('2018-05-24T00:00:00.000000000'),
 numpy.datetime64('2018-05-25T00:00:00.000000000'),
 numpy.datetime64('2018-05-26T00:00:00.000000000'),
 numpy.datetime64('2018-05-27T00:00:00.000000000'),
 numpy.datetime64('2018-05-28T00:00:00.000000000'),
 numpy.datetime64('2018-05-29T00:00:00.000000000'),
 numpy.datetime64('2018-05-30T00:00:00.000000000'),
 numpy.datetime64('2018-05-31T00:00:00.000000000'),
 numpy.datetime64('2018-06-01T00:00:00.000000000'),
 numpy.datetime64('2018-06-02T00:00:00.000000000'),
 numpy.datetime64('2018-06-03T00:00:00.000000000'),
 numpy.datetime64('2018-06-04T00:00:00.000000000'),
 numpy.datetime64('2018-06-05T00:00:00.000000000'),
 numpy.datetime64('2018-06-06T00:00:00.000000000'),
 numpy.datetime64('2018-06-07T00:00:00.000000000'),
 numpy.datetime64('2018-06-08T00:00:00.000000000'),
 numpy.datetime64('2018-06-09T00:00:00.000000000'),
 numpy.datetime64('2018-06-10T00:00:00.000000000'),
 numpy.datetime64('2018-06-11T00:00:00.000000000'),
 numpy.datetime64('2018-06-12T00:00:00.000000000'),
 numpy.datetime64('2018-06-13T00:00:00.000000000'),
 numpy.datetime64('2018-06-14T00:00:00.000000000'),
 numpy.datetime64('2018-06-15T00:00:00.000000000'),
 numpy.datetime64('2018-06-16T00:00:00.000000000'),
 numpy.datetime64('2018-06-17T00:00:00.000000000'),
 numpy.datetime64('2018-06-18T00:00:00.000000000'),
 numpy.datetime64('2018-06-19T00:00:00.000000000'),
 numpy.datetime64('2018-06-20T00:00:00.000000000')]

In [32]:
df['htd']=df.sort_values(['date','inning'],ascending=True).groupby(['player_name']).hit.cumsum()
df['abtd']=df.sort_values(['date','inning'],ascending=True).groupby(['player_name']).ab.cumsum()
df['avg']=df.htd/df.abtd

In [34]:
df[['player_name','date','inning','hit','ab','htd','abtd','avg']].sort_values(['player_name','date','inning'],ascending=True).head(100)

         player_name       date  inning  hit  ab  htd  abtd       avg
38668     A.J. Ellis 2018-05-09       2    1   1    1     1  1.000000
38458     A.J. Ellis 2018-05-09       4    1   1    2     2  1.000000
38259     A.J. Ellis 2018-05-09       6    0   1    2     3  0.666667
38088     A.J. Ellis 2018-05-09       8    0   1    2     4  0.500000
36948     A.J. Ellis 2018-05-11       2    0   1    2     5  0.400000
36490     A.J. Ellis 2018-05-11       6    1   1    3     6  0.500000
33903     A.J. Ellis 2018-05-14       3    0   1    3     7  0.428571
33799     A.J. Ellis 2018-05-14       4    0   1    3     8  0.375000
33655     A.J. Ellis 2018-05-14       6    1   1    4     9  0.444444
33491     A.J. Ellis 2018-05-14       9    0   1    4    10  0.400000
28768     A.J. Ellis 2018-05-20       3    0   1    4    11  0.363636
28540     A.J. Ellis 2018-05-20       5    1   1    5    12  0.416667
28273     A.J. Ellis 2018-05-20       7    0   1    5    13  0.384615
28012     A.J. Ellis 2018-05-20       9    1   1    6    14  0.428571
27862     A.J. Ellis 2018-05-21       2    1   1    7    15  0.466667
27703     A.J. Ellis 2018-05-21       4    0   1    7    16  0.437500
27497     A.J. Ellis 2018-05-21       7    0   1    7    17  0.411765
27371     A.J. Ellis 2018-05-21       9    0   1    7    18  0.388889
23707     A.J. Ellis 2018-05-26       2    1   1    8    19  0.421053
23407     A.J. Ellis 2018-05-26       5    1   1    9    20  0.450000
23168     A.J. Ellis 2018-05-26       7    0   1    9    21  0.428571
23037     A.J. Ellis 2018-05-26       8    0   1    9    22  0.409091
22157     A.J. Ellis 2018-05-27       8    1   1   10    23  0.434783
21544     A.J. Ellis 2018-05-28       2    0   1   10    24  0.416667
21284     A.J. Ellis 2018-05-28       4    0   1   10    25  0.400000
21008     A.J. Ellis 2018-05-28       7    0   1   10    26  0.384615
18410     A.J. Ellis 2018-05-31       2    1   1   11    27  0.407407
18293     A.J. Ellis 2018-05-31       3    0   1   11    28  0.392857
18030     A.J. Ellis 2018-05-31       7    0   1   11    29  0.379310
16466     A.J. Ellis 2018-06-02       3    0   1   11    30  0.366667
15983     A.J. Ellis 2018-06-02       7    0   1   11    31  0.354839
14319     A.J. Ellis 2018-06-05       2    0   1   11    32  0.343750
13869     A.J. Ellis 2018-06-05       5    1   1   12    33  0.363636
11575     A.J. Ellis 2018-06-08       2    0   1   12    34  0.352941
11244     A.J. Ellis 2018-06-08       5    0   1   12    35  0.342857
10934     A.J. Ellis 2018-06-08       7    1   1   13    36  0.361111
8038      A.J. Ellis 2018-06-12       3    0   1   13    37  0.351351
7898      A.J. Ellis 2018-06-12       4    1   1   14    38  0.368421
7674      A.J. Ellis 2018-06-12       7    0   0   14    38  0.368421
6092      A.J. Ellis 2018-06-14       3    1   1   15    39  0.384615
5912      A.J. Ellis 2018-06-14       6    1   1   16    40  0.400000
5797      A.J. Ellis 2018-06-14       8    0   1   16    41  0.390244
4438      A.J. Ellis 2018-06-16       2    1   1   17    42  0.404762
4146      A.J. Ellis 2018-06-16       5    0   1   17    43  0.395349
3871      A.J. Ellis 2018-06-16       8    0   1   17    44  0.386364
567       A.J. Ellis 2018-06-20       3    1   1   18    45  0.400000
393       A.J. Ellis 2018-06-20       4    0   1   18    46  0.391304
132       A.J. Ellis 2018-06-20       7    0   1   18    47  0.382979
7         A.J. Ellis 2018-06-20       9    0   1   18    48  0.375000
39838   A.J. Pollock 2018-05-08       1    1   1    1     1  1.000000
39594   A.J. Pollock 2018-05-08       3    0   1    1     2  0.500000
39404   A.J. Pollock 2018-05-08       5    0   1    1     3  0.333333
39107   A.J. Pollock 2018-05-08       7    1   1    2     4  0.500000
38919   A.J. Pollock 2018-05-08      10    0   1    2     5  0.400000
38871   A.J. Pollock 2018-05-08      12    0   1    2     6  0.333333
38611   A.J. Pollock 2018-05-09       3    1   1    3     7  0.428571
38350   A.J. Pollock 2018-05-09       5    0   1    3     8  0.375000
38059   A.J. Pollock 2018-05-09       7    0   1    3     9  0.333333
37864   A.J. Pollock 2018-05-10       1    0   1    3    10  0.300000
37686   A.J. Pollock 2018-05-10       4    0   1    3    11  0.272727
37536   A.J. Pollock 2018-05-10       6    0   1    3    12  0.250000
37347   A.J. Pollock 2018-05-10       9    0   1    3    13  0.230769
37237   A.J. Pollock 2018-05-10      11    0   1    3    14  0.214286
36504   A.J. Pollock 2018-05-11       9    0   1    3    15  0.200000
35724   A.J. Pollock 2018-05-12       3    1   1    4    16  0.250000
35387   A.J. Pollock 2018-05-12       6    0   1    4    17  0.235294
35209   A.J. Pollock 2018-05-12       8    0   1    4    18  0.222222
34949   A.J. Pollock 2018-05-13       2    0   1    4    19  0.210526
34770   A.J. Pollock 2018-05-13       4    1   1    5    20  0.250000
34525   A.J. Pollock 2018-05-13       6    1   1    6    21  0.285714
34297   A.J. Pollock 2018-05-13       8    0   1    6    22  0.272727
33971   A.J. Pollock 2018-05-14       2    0   1    6    23  0.260870
33834   A.J. Pollock 2018-05-14       4    0   1    6    24  0.250000
33711   A.J. Pollock 2018-05-14       6    0   1    6    25  0.240000
33547   A.J. Pollock 2018-05-14       8    0   1    6    26  0.230769
39732  Aaron Altherr 2018-05-08       2    1   1    1     1  1.000000
39584  Aaron Altherr 2018-05-08       3    0   1    1     2  0.500000
39335  Aaron Altherr 2018-05-08       5    0   1    1     3  0.333333
38751  Aaron Altherr 2018-05-09       1    0   1    1     4  0.250000
38533  Aaron Altherr 2018-05-09       3    0   1    1     5  0.200000
38092  Aaron Altherr 2018-05-09       6    1   1    2     6  0.333333
37957  Aaron Altherr 2018-05-09       8    0   1    2     7  0.285714
37873  Aaron Altherr 2018-05-10       1    0   1    2     8  0.250000
37533  Aaron Altherr 2018-05-10       5    0   1    2     9  0.222222
37156  Aaron Altherr 2018-05-11       1    0   1    2    10  0.200000
36933  Aaron Altherr 2018-05-11       3    0   1    2    11  0.181818
36527  Aaron Altherr 2018-05-11       7    0   1    2    12  0.166667
34776  Aaron Altherr 2018-05-13       2    0   1    2    13  0.153846
34555  Aaron Altherr 2018-05-13       5    0   1    2    14  0.142857
34288  Aaron Altherr 2018-05-13       7    0   1    2    15  0.133333
31823  Aaron Altherr 2018-05-16       8    0   1    2    16  0.125000
31635  Aaron Altherr 2018-05-17       1    0   1    2    17  0.117647
31488  Aaron Altherr 2018-05-17       4    0   1    2    18  0.111111
31354  Aaron Altherr 2018-05-17       6    0   1    2    19  0.105263
31210  Aaron Altherr 2018-05-17       8    1   1    3    20  0.150000
31104  Aaron Altherr 2018-05-17       9    0   1    3    21  0.142857
29097  Aaron Altherr 2018-05-19       8    0   1    3    22  0.136364
28780  Aaron Altherr 2018-05-20       2    0   1    3    23  0.130435
28456  Aaron Altherr 2018-05-20       5    0   1    3    24  0.125000
28140  Aaron Altherr 2018-05-20       8    1   1    4    25  0.160000

In [35]:
df.to_csv("all_abs_edit.csv")

In [15]:
## statcast test
%timeit
data=statcast()

Warning: no date range supplied. Returning yesterday's Statcast data. For a different date range, try get_statcast(start_dt, end_dt).

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [3]:
data.shape

(3815, 90)

In [7]:
data[data.events.notnull()].shape

(976, 90)