In [154]:
import pandas as pd
from pybaseball import statcast
from pybaseball import schedule_and_record
from datetime import datetime
import time
pd.options.display.max_rows=100
pd.options.display.max_columns=100

In [46]:
df1=pd.read_csv("abs_5-11.csv")
df2=pd.read_csv("abs_6-24.csv")

In [60]:
df1.shape,df2.shape

((38831, 89), (40000, 89))

In [61]:
df=pd.concat([df1,df2],axis=0).reset_index(drop=True)

In [62]:
df.player_name.nunique()

777

In [63]:
df.events.value_counts()

field_out                    34974
strikeout                    19678
single                       12281
double                        3980
home_run                      2635
force_out                     1750
grounded_into_double_play     1682
sac_fly                        564
triple                         401
sac_bunt                       383
double_play                    213
fielders_choice_out            149
strikeout_double_play           86
fielders_choice                 47
sac_fly_double_play              6
triple_play                      1
sac_bunt_double_play             1
Name: events, dtype: int64

In [64]:
df.events.isnull().sum()

0

In [65]:
df['hit']=df.events.apply(lambda x: 1 if x in ["single",'double','home_run','triple'] else 0)
df['ab']=df.events.apply(lambda x: 0 if x in ["sac_fly",'sac_bunt','sac_fly_double_play','sac_bunt_double_play'] else 1)

In [66]:
df['date']=pd.to_datetime(df['game_date'],infer_datetime_format=True)
sorted(df.date.unique())

[numpy.datetime64('2018-03-29T00:00:00.000000000'),
 numpy.datetime64('2018-03-30T00:00:00.000000000'),
 numpy.datetime64('2018-03-31T00:00:00.000000000'),
 numpy.datetime64('2018-04-01T00:00:00.000000000'),
 numpy.datetime64('2018-04-02T00:00:00.000000000'),
 numpy.datetime64('2018-04-03T00:00:00.000000000'),
 numpy.datetime64('2018-04-04T00:00:00.000000000'),
 numpy.datetime64('2018-04-05T00:00:00.000000000'),
 numpy.datetime64('2018-04-06T00:00:00.000000000'),
 numpy.datetime64('2018-04-07T00:00:00.000000000'),
 numpy.datetime64('2018-04-08T00:00:00.000000000'),
 numpy.datetime64('2018-04-09T00:00:00.000000000'),
 numpy.datetime64('2018-04-10T00:00:00.000000000'),
 numpy.datetime64('2018-04-11T00:00:00.000000000'),
 numpy.datetime64('2018-04-12T00:00:00.000000000'),
 numpy.datetime64('2018-04-13T00:00:00.000000000'),
 numpy.datetime64('2018-04-14T00:00:00.000000000'),
 numpy.datetime64('2018-04-15T00:00:00.000000000'),
 numpy.datetime64('2018-04-16T00:00:00.000000000'),
 numpy.datetime64('2018-04-17T00:00:00.000000000'),
 numpy.datetime64('2018-04-18T00:00:00.000000000'),
 numpy.datetime64('2018-04-19T00:00:00.000000000'),
 numpy.datetime64('2018-04-20T00:00:00.000000000'),
 numpy.datetime64('2018-04-21T00:00:00.000000000'),
 numpy.datetime64('2018-04-22T00:00:00.000000000'),
 numpy.datetime64('2018-04-23T00:00:00.000000000'),
 numpy.datetime64('2018-04-24T00:00:00.000000000'),
 numpy.datetime64('2018-04-25T00:00:00.000000000'),
 numpy.datetime64('2018-04-26T00:00:00.000000000'),
 numpy.datetime64('2018-04-27T00:00:00.000000000'),
 numpy.datetime64('2018-04-28T00:00:00.000000000'),
 numpy.datetime64('2018-04-29T00:00:00.000000000'),
 numpy.datetime64('2018-04-30T00:00:00.000000000'),
 numpy.datetime64('2018-05-01T00:00:00.000000000'),
 numpy.datetime64('2018-05-02T00:00:00.000000000'),
 numpy.datetime64('2018-05-03T00:00:00.000000000'),
 numpy.datetime64('2018-05-04T00:00:00.000000000'),
 numpy.datetime64('2018-05-05T00:00:00.000000000'),
 numpy.datetime64('2018-05-06T00:00:00.000000000'),
 numpy.datetime64('2018-05-07T00:00:00.000000000'),
 numpy.datetime64('2018-05-08T00:00:00.000000000'),
 numpy.datetime64('2018-05-09T00:00:00.000000000'),
 numpy.datetime64('2018-05-10T00:00:00.000000000'),
 numpy.datetime64('2018-05-11T00:00:00.000000000'),
 numpy.datetime64('2018-05-12T00:00:00.000000000'),
 numpy.datetime64('2018-05-13T00:00:00.000000000'),
 numpy.datetime64('2018-05-14T00:00:00.000000000'),
 numpy.datetime64('2018-05-15T00:00:00.000000000'),
 numpy.datetime64('2018-05-16T00:00:00.000000000'),
 numpy.datetime64('2018-05-17T00:00:00.000000000'),
 numpy.datetime64('2018-05-18T00:00:00.000000000'),
 numpy.datetime64('2018-05-19T00:00:00.000000000'),
 numpy.datetime64('2018-05-20T00:00:00.000000000'),
 numpy.datetime64('2018-05-21T00:00:00.000000000'),
 numpy.datetime64('2018-05-22T00:00:00.000000000'),
 numpy.datetime64('2018-05-23T00:00:00.000000000'),
 numpy.datetime64('2018-05-24T00:00:00.000000000'),
 numpy.datetime64('2018-05-25T00:00:00.000000000'),
 numpy.datetime64('2018-05-26T00:00:00.000000000'),
 numpy.datetime64('2018-05-27T00:00:00.000000000'),
 numpy.datetime64('2018-05-28T00:00:00.000000000'),
 numpy.datetime64('2018-05-29T00:00:00.000000000'),
 numpy.datetime64('2018-05-30T00:00:00.000000000'),
 numpy.datetime64('2018-05-31T00:00:00.000000000'),
 numpy.datetime64('2018-06-01T00:00:00.000000000'),
 numpy.datetime64('2018-06-02T00:00:00.000000000'),
 numpy.datetime64('2018-06-03T00:00:00.000000000'),
 numpy.datetime64('2018-06-04T00:00:00.000000000'),
 numpy.datetime64('2018-06-05T00:00:00.000000000'),
 numpy.datetime64('2018-06-06T00:00:00.000000000'),
 numpy.datetime64('2018-06-07T00:00:00.000000000'),
 numpy.datetime64('2018-06-08T00:00:00.000000000'),
 numpy.datetime64('2018-06-09T00:00:00.000000000'),
 numpy.datetime64('2018-06-10T00:00:00.000000000'),
 numpy.datetime64('2018-06-11T00:00:00.000000000'),
 numpy.datetime64('2018-06-12T00:00:00.000000000'),
 numpy.datetime64('2018-06-13T00:00:00.000000000'),
 numpy.datetime64('2018-06-14T00:00:00.000000000'),
 numpy.datetime64('2018-06-15T00:00:00.000000000'),
 numpy.datetime64('2018-06-16T00:00:00.000000000'),
 numpy.datetime64('2018-06-17T00:00:00.000000000'),
 numpy.datetime64('2018-06-18T00:00:00.000000000'),
 numpy.datetime64('2018-06-19T00:00:00.000000000'),
 numpy.datetime64('2018-06-20T00:00:00.000000000'),
 numpy.datetime64('2018-06-21T00:00:00.000000000'),
 numpy.datetime64('2018-06-22T00:00:00.000000000'),
 numpy.datetime64('2018-06-23T00:00:00.000000000'),
 numpy.datetime64('2018-06-24T00:00:00.000000000')]

In [67]:
df['htd']=df.sort_values(['date','inning'],ascending=True).groupby(['player_name']).hit.cumsum()
df['abtd']=df.sort_values(['date','inning'],ascending=True).groupby(['player_name']).ab.cumsum()
df['avg']=df.htd/df.abtd

In [68]:
df[['player_name','date','inning','hit','ab','htd','abtd','avg']].sort_values(['player_name','date','inning'],ascending=True).head(100)

        player_name       date  inning  hit  ab  htd  abtd       avg
34342     A.J. Cole 2018-04-03       2    1   1    1     1  1.000000
34191     A.J. Cole 2018-04-03       3    0   1    1     2  0.500000
27480     A.J. Cole 2018-04-11       3    0   0    1     2  0.500000
27261     A.J. Cole 2018-04-11       5    0   1    1     3  0.333333
35206    A.J. Ellis 2018-04-02       2    0   1    0     1  0.000000
34810    A.J. Ellis 2018-04-02       6    0   1    0     2  0.000000
34643    A.J. Ellis 2018-04-02       8    0   1    0     3  0.000000
34333    A.J. Ellis 2018-04-03       2    0   1    0     4  0.000000
34102    A.J. Ellis 2018-04-03       5    1   1    1     5  0.200000
33956    A.J. Ellis 2018-04-03       6    0   1    1     6  0.166667
31349    A.J. Ellis 2018-04-07       3    1   1    2     7  0.285714
31135    A.J. Ellis 2018-04-07       5    0   0    2     7  0.285714
30835    A.J. Ellis 2018-04-07       7    0   1    2     8  0.250000
30572    A.J. Ellis 2018-04-07      10    0   1    2     9  0.222222
27444    A.J. Ellis 2018-04-11       3    0   1    2    10  0.200000
24911    A.J. Ellis 2018-04-14       2    0   1    2    11  0.181818
24677    A.J. Ellis 2018-04-14       5    1   1    3    12  0.250000
24437    A.J. Ellis 2018-04-14       7    0   1    3    13  0.230769
22836    A.J. Ellis 2018-04-17       2    0   1    3    14  0.214286
22545    A.J. Ellis 2018-04-17       5    0   1    3    15  0.200000
22319    A.J. Ellis 2018-04-17       7    0   1    3    16  0.187500
17187    A.J. Ellis 2018-04-23       2    0   1    3    17  0.176471
17053    A.J. Ellis 2018-04-23       4    0   1    3    18  0.166667
16900    A.J. Ellis 2018-04-23       7    0   1    3    19  0.157895
16747    A.J. Ellis 2018-04-23       8    0   1    3    20  0.150000
11552    A.J. Ellis 2018-04-29       2    1   1    4    21  0.190476
11319    A.J. Ellis 2018-04-29       4    0   1    4    22  0.181818
11022    A.J. Ellis 2018-04-29       6    0   1    4    23  0.173913
10815    A.J. Ellis 2018-04-29       8    1   1    5    24  0.208333
10494    A.J. Ellis 2018-04-30       4    0   1    5    25  0.200000
10335    A.J. Ellis 2018-04-30       6    0   0    5    25  0.200000
10189    A.J. Ellis 2018-04-30       8    1   1    6    26  0.230769
8710     A.J. Ellis 2018-05-02       3    0   1    6    27  0.222222
8404     A.J. Ellis 2018-05-02       5    0   1    6    28  0.214286
4926     A.J. Ellis 2018-05-06       2    0   1    6    29  0.206897
4699     A.J. Ellis 2018-05-06       4    0   1    6    30  0.200000
4477     A.J. Ellis 2018-05-06       6    1   1    7    31  0.225806
4233     A.J. Ellis 2018-05-06       8    1   1    8    32  0.250000
2450     A.J. Ellis 2018-05-09       2    1   1    9    33  0.272727
2237     A.J. Ellis 2018-05-09       4    1   1   10    34  0.294118
2038     A.J. Ellis 2018-05-09       6    0   1   10    35  0.285714
1867     A.J. Ellis 2018-05-09       8    0   1   10    36  0.277778
727      A.J. Ellis 2018-05-11       2    0   1   10    37  0.270270
270      A.J. Ellis 2018-05-11       6    1   1   11    38  0.289474
76553    A.J. Ellis 2018-05-14       3    0   1   11    39  0.282051
76453    A.J. Ellis 2018-05-14       4    0   1   11    40  0.275000
76307    A.J. Ellis 2018-05-14       6    1   1   12    41  0.292683
76143    A.J. Ellis 2018-05-14       9    0   1   12    42  0.285714
71419    A.J. Ellis 2018-05-20       3    0   1   12    43  0.279070
71191    A.J. Ellis 2018-05-20       5    1   1   13    44  0.295455
70924    A.J. Ellis 2018-05-20       7    0   1   13    45  0.288889
70666    A.J. Ellis 2018-05-20       9    1   1   14    46  0.304348
70515    A.J. Ellis 2018-05-21       2    1   1   15    47  0.319149
70358    A.J. Ellis 2018-05-21       4    0   1   15    48  0.312500
70149    A.J. Ellis 2018-05-21       7    0   1   15    49  0.306122
70024    A.J. Ellis 2018-05-21       9    0   1   15    50  0.300000
66357    A.J. Ellis 2018-05-26       2    1   1   16    51  0.313725
66060    A.J. Ellis 2018-05-26       5    1   1   17    52  0.326923
65822    A.J. Ellis 2018-05-26       7    0   1   17    53  0.320755
65687    A.J. Ellis 2018-05-26       8    0   1   17    54  0.314815
64810    A.J. Ellis 2018-05-27       8    1   1   18    55  0.327273
64195    A.J. Ellis 2018-05-28       2    0   1   18    56  0.321429
63933    A.J. Ellis 2018-05-28       4    0   1   18    57  0.315789
63659    A.J. Ellis 2018-05-28       7    0   1   18    58  0.310345
61061    A.J. Ellis 2018-05-31       2    1   1   19    59  0.322034
60944    A.J. Ellis 2018-05-31       3    0   1   19    60  0.316667
60682    A.J. Ellis 2018-05-31       7    0   1   19    61  0.311475
59117    A.J. Ellis 2018-06-02       3    0   1   19    62  0.306452
58633    A.J. Ellis 2018-06-02       7    0   1   19    63  0.301587
56970    A.J. Ellis 2018-06-05       2    0   1   19    64  0.296875
56521    A.J. Ellis 2018-06-05       5    1   1   20    65  0.307692
54231    A.J. Ellis 2018-06-08       2    0   1   20    66  0.303030
53892    A.J. Ellis 2018-06-08       5    0   1   20    67  0.298507
53585    A.J. Ellis 2018-06-08       7    1   1   21    68  0.308824
50689    A.J. Ellis 2018-06-12       3    0   1   21    69  0.304348
50554    A.J. Ellis 2018-06-12       4    1   1   22    70  0.314286
50328    A.J. Ellis 2018-06-12       7    0   0   22    70  0.314286
48744    A.J. Ellis 2018-06-14       3    1   1   23    71  0.323944
48566    A.J. Ellis 2018-06-14       6    1   1   24    72  0.333333
48449    A.J. Ellis 2018-06-14       8    0   1   24    73  0.328767
47091    A.J. Ellis 2018-06-16       2    1   1   25    74  0.337838
46798    A.J. Ellis 2018-06-16       5    0   1   25    75  0.333333
46525    A.J. Ellis 2018-06-16       8    0   1   25    76  0.328947
43218    A.J. Ellis 2018-06-20       3    1   1   26    77  0.337662
43046    A.J. Ellis 2018-06-20       4    0   1   26    78  0.333333
42783    A.J. Ellis 2018-06-20       7    0   1   26    79  0.329114
42659    A.J. Ellis 2018-06-20       9    0   1   26    80  0.325000
42550    A.J. Ellis 2018-06-21       3    0   1   26    81  0.320988
42261    A.J. Ellis 2018-06-21       8    0   1   26    82  0.317073
40711    A.J. Ellis 2018-06-23       3    1   1   27    83  0.325301
40500    A.J. Ellis 2018-06-23       5    1   1   28    84  0.333333
40041    A.J. Ellis 2018-06-23       9    1   1   29    85  0.341176
38744  A.J. Pollock 2018-03-29       1    1   1    1     1  1.000000
38546  A.J. Pollock 2018-03-29       3    0   1    1     2  0.500000
38190  A.J. Pollock 2018-03-29       6    0   1    1     3  0.333333
38075  A.J. Pollock 2018-03-29       7    0   1    1     4  0.250000
37850  A.J. Pollock 2018-03-30       1    1   1    2     5  0.400000
37661  A.J. Pollock 2018-03-30       3    1   1    3     6  0.500000
37506  A.J. Pollock 2018-03-30       4    0   1    3     7  0.428571
37328  A.J. Pollock 2018-03-30       6    0   1    3     8  0.375000

In [69]:
df['player_team']=df.apply(lambda x: x.home_team if x.inning_topbot=="Bot" else x.away_team,axis=1)

In [70]:
teams=df.player_team.unique()

In [155]:
team_schedule={}
missed=[]
for t in teams:
    try:
        d=schedule_and_record(2018,t)
        d['fix_date']=d.Date + " 2018"
        d['game_date']=pd.to_datetime(d.fix_date.apply(lambda x: datetime.strptime(x,"%A, %b %d %Y")).apply(lambda x: x.strftime("%Y-%m-%d")),infer_datetime_format=True)
        d['place']=d.Home_Away.apply(lambda x: "Home" if x=="Home" else "Away")
        d2=d[d.game_date>=datetime.today()][['Tm','place',"Opp","game_date"]]
        team_schedule[t]=d2
        time.sleep(3)
    except ValueError:
        missed.append(t)

In [149]:
schedule_and_record(2018,'CLE')

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled
1,"Thursday, Mar 29",CLE,@,SEA,L,1.0,2.0,9.0,0-1,3.0,1.0,Hernandez,Kluber,Diaz,2:35,N,47149.0,-1.0,None
2,"Saturday, Mar 31",CLE,@,SEA,W,6.0,5.0,9.0,1-1,2.0,1.0,Carrasco,Paxton,Allen,2:47,D,35881.0,1.0,None
3,"Sunday, Apr 1",CLE,@,SEA,L,4.0,5.0,9.0,1-2,3.0,1.5,Leake,Otero,Diaz,2:57,D,24506.0,-1.0,None
4,"Monday, Apr 2",CLE,@,LAA,W,6.0,0.0,9.0,2-2,2.0,0.5,Clevinger,Ramirez,None,3:25,N,43904.0,1.0,None
5,"Tuesday, Apr 3",CLE,@,LAA,L,2.0,13.0,9.0,2-3,3.0,0.5,Richards,Tomlin,None,2:49,N,35007.0,-1.0,None
6,"Wednesday, Apr 4",CLE,@,LAA,L-wo,2.0,3.0,13.0,2-4,3.0,1.5,Ramirez,McAllister,None,4:28,D,32412.0,-2.0,None
7,"Friday, Apr 6",CLE,Home,KCR,W,3.0,2.0,9.0,3-4,3.0,1.5,Carrasco,Duffy,Allen,2:41,D,34720.0,1.0,None
8,"Saturday, Apr 7",CLE,Home,KCR,L,0.0,1.0,9.0,3-5,4.0,1.5,Kennedy,Bauer,Herrera,2:29,D,17362.0,-1.0,None
9,"Sunday, Apr 8",CLE,Home,KCR,W-wo,3.0,1.0,9.0,4-5,3.0,1.0,Allen,Maurer,None,2:55,D,14240.0,1.0,None
10,"Monday, Apr 9",CLE,Home,DET,W,2.0,0.0,9.0,5-5,1.0,Tied,Kluber,Liriano,Miller,2:39,N,9843.0,2.0,None
11,"Tuesday, Apr 10",CLE,Home,DET,W,2.0,1.0,9.0,6-5,1.0,Tied,Miller,Wilson,Allen,2:47,N,10078.0,3.0,None
12,"Wednesday, Apr 11",CLE,Home,DET,W,5.0,1.0,9.0,7-5,1.0,Tied,Carrasco,Norris,None,2:44,N,10872.0,4.0,None
13,"Thursday, Apr 12",CLE,Home,DET,W,9.0,3.0,9.0,8-5,1.0,Tied,Bauer,Fulmer,None,2:58,N,12901.0,5.0,None
14,"Friday, Apr 13",CLE,Home,TOR,L,4.0,8.0,9.0,8-6,2.0,0.5,Barnes,McAllister,None,3:12,N,25592.0,-1.0,None
15,"Tuesday, Apr 17",CLE,@,MIN,W,6.0,1.0,9.0,9-6,1.0,up 0.5,Kluber,Odorizzi,None,3:24,N,19516.0,1.0,None
16,"Wednesday, Apr 18",CLE,@,MIN,L-wo,1.0,2.0,16.0,9-7,2.0,0.5,Busenitz,Tomlin,None,5:13,N,19537.0,-1.0,None
17,"Friday, Apr 20",CLE,@,BAL,L,1.0,3.0,9.0,9-8,2.0,0.5,Bundy,Bauer,O'Day,2:52,N,20004.0,-2.0,None
18,"Saturday, Apr 21",CLE,@,BAL,W,4.0,0.0,9.0,10-8,1.0,up 0.5,Clevinger,Tillman,None,2:21,D,29187.0,1.0,None
19,"Sunday, Apr 22",CLE,@,BAL,W,7.0,3.0,9.0,11-8,1.0,up 1.5,Kluber,Cashner,None,2:54,D,27394.0,2.0,None
20,"Monday, Apr 23",CLE,@,BAL,W,2.0,1.0,9.0,12-8,1.0,up 2.5,Carrasco,Gausman,Allen,2:21,N,10614.0,3.0,None
21,"Tuesday, Apr 24",CLE,Home,CHC,L,3.0,10.0,9.0,12-9,1.0,up 2.5,Chatwood,Tomlin,None,3:00,N,16408.0,-1.0,None
22,"Wednesday, Apr 25",CLE,Home,CHC,W,4.0,1.0,9.0,13-9,1.0,up 3.0,Bauer,Lester,Allen,2:50,N,15712.0,1.0,None
23,"Thursday, Apr 26",CLE,Home,SEA,L,4.0,5.0,9.0,13-10,1.0,up 3.0,Altavilla,Goody,Diaz,2:46,N,12133.0,-1.0,None
24,"Friday, Apr 27",CLE,Home,SEA,W,6.0,5.0,9.0,14-10,1.0,up 4.0,Kluber,Ramirez,None,2:36,N,16335.0,1.0,None
25,"Saturday, Apr 28",CLE,Home,SEA,L,4.0,12.0,9.0,14-11,1.0,up 3.0,Leake,Carrasco,None,3:00,D,19172.0,-1.0,None
26,"Sunday, Apr 29",CLE,Home,SEA,L,4.0,10.0,9.0,14-12,1.0,up 3.0,Gonzales,Tomlin,None,3:01,D,17878.0,-2.0,None
27,"Monday, Apr 30",CLE,Home,TEX,W,7.0,5.0,9.0,15-12,1.0,up 4.0,Allen,Martin,Beliveau,3:56,N,12851.0,1.0,None
28,"Tuesday, May 1",CLE,Home,TEX,L,6.0,8.0,12.0,15-13,1.0,up 3.0,Claudio,Goody,None,4:05,N,16356.0,-1.0,None
29,"Wednesday, May 2",CLE,Home,TEX,W,12.0,4.0,9.0,16-13,1.0,up 3.0,Kluber,Moore,None,2:41,D,15637.0,1.0,None
30,"Thursday, May 3 (1)",CLE,Home,TOR,L,11.0,13.0,11.0,16-14,1.0,up 3.5,Mayza,Olson,None,4:47,D,NaN,-1.0,None
31,"Thursday, May 3 (2)",CLE,Home,TOR,W,13.0,4.0,9.0,17-14,1.0,up 3.5,Plutko,Biagini,None,3:11,D,19007.0,1.0,None
32,"Friday, May 4",CLE,@,NYY,L-wo,6.0,7.0,9.0,17-15,1.0,up 3.5,Chapman,Ogando,None,3:22,N,46869.0,-1.0,None
33,"Saturday, May 5",CLE,@,NYY,L,2.0,5.0,9.0,17-16,1.0,up 2.5,Gray,Bauer,Robertson,2:31,D,43075.0,-2.0,None
34,"Sunday, May 6",CLE,@,NYY,L-wo,4.0,7.0,9.0,17-17,1.0,up 2.0,Shreve,Allen,None,3:05,D,40107.0,-3.0,None
35,"Tuesday, May 8",CLE,@,MIL,L,2.0,3.0,9.0,17-18,1.0,up 0.5,Suter,Kluber,Hader,2:49,N,35314.0,-4.0,None
36,"Wednesday, May 9",CLE,@,MIL,W,6.0,2.0,9.0,18-18,1.0,up 1.0,Carrasco,Guerra,None,2:41,D,26345.0,1.0,None
37,"Friday, May 11",CLE,Home,KCR,L,9.0,10.0,9.0,18-19,1.0,up 0.5,Keller,Miller,Herrera,3:34,N,24408.0,-1.0,None
38,"Saturday, May 12",CLE,Home,KCR,W,6.0,2.0,9.0,19-19,1.0,up 0.5,Clevinger,Junis,None,2:31,D,24587.0,1.0,None
39,"Sunday, May 13",CLE,Home,KCR,W,11.0,2.0,9.0,20-19,1.0,up 1.5,Kluber,Duffy,None,2:54,D,22105.0,2.0,None
40,"Monday, May 14",CLE,@,DET,L,3.0,6.0,9.0,20-20,1.0,up 1.5,Fiers,Carrasco,None,3:10,N,17775.0,-1.0,None
41,"Tuesday, May 15",CLE,@,DET,L,8.0,9.0,9.0,20-21,1.0,up 0.5,Coleman,Miller,Greene,3:21,N,20997.0,-2.0,None
42,"Wednesday, May 16",CLE,@,DET,W,6.0,0.0,9.0,21-21,1.0,up 1.5,Bauer,Carpenter,None,2:33,D,24771.0,1.0,None
43,"Friday, May 18",CLE,@,HOU,L,1.0,4.0,9.0,21-22,1.0,up 1.5,Morton,Clevinger,Giles,2:50,N,35959.0,-1.0,None
44,"Saturday, May 19",CLE,@,HOU,W,5.0,4.0,9.0,22-22,1.0,up 2.5,Kluber,Keuchel,Allen,3:09,D,39926.0,1.0,None
45,"Sunday, May 20",CLE,@,HOU,L,1.0,3.0,9.0,22-23,1.0,up 1.5,McCullers,Carrasco,Giles,2:48,N,30770.0,-1.0,None
46,"Tuesday, May 22",CLE,@,CHC,W,10.0,1.0,9.0,23-23,1.0,up 1.0,Bauer,Chatwood,None,3:20,N,37168.0,1.0,None
47,"Wednesday, May 23",CLE,@,CHC,W,1.0,0.0,9.0,24-23,1.0,up 2.0,Plutko,Lester,Allen,2:39,N,39004.0,2.0,None
48,"Thursday, May 24",CLE,Home,HOU,L,2.0,8.0,9.0,24-24,1.0,up 1.5,Morton,Clevinger,None,2:56,N,19660.0,-1.0,None
49,"Friday, May 25",CLE,Home,HOU,L,2.0,11.0,9.0,24-25,1.0,up 1.5,Smith,Miller,None,3:41,N,29431.0,-2.0,None
50,"Saturday, May 26",CLE,Home,HOU,W,8.0,6.0,9.0,25-25,1.0,up 2.5,Carrasco,McCullers,Allen,3:28,N,30639.0,1.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,"Wednesday, Aug 8",CLE,Home,MIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
114,"Thursday, Aug 9",CLE,Home,MIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
115,"Friday, Aug 10",CLE,@,CHW,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
116,"Saturday, Aug 11",CLE,@,CHW,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
117,"Sunday, Aug 12",CLE,@,CHW,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
118,"Monday, Aug 13",CLE,@,CIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
119,"Tuesday, Aug 14",CLE,@,CIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
120,"Wednesday, Aug 15",CLE,@,CIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
121,"Friday, Aug 17",CLE,Home,BAL,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
122,"Saturday, Aug 18",CLE,Home,BAL,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
123,"Sunday, Aug 19",CLE,Home,BAL,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
124,"Monday, Aug 20",CLE,@,BOS,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
125,"Tuesday, Aug 21",CLE,@,BOS,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
126,"Wednesday, Aug 22",CLE,@,BOS,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
127,"Thursday, Aug 23",CLE,@,BOS,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
128,"Friday, Aug 24",CLE,@,KCR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
129,"Saturday, Aug 25",CLE,@,KCR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
130,"Sunday, Aug 26",CLE,@,KCR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
131,"Tuesday, Aug 28",CLE,Home,MIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
132,"Wednesday, Aug 29",CLE,Home,MIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
133,"Thursday, Aug 30",CLE,Home,MIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
134,"Friday, Aug 31",CLE,Home,TBR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
135,"Saturday, Sep 1",CLE,Home,TBR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
136,"Sunday, Sep 2",CLE,Home,TBR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
137,"Monday, Sep 3",CLE,Home,KCR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
138,"Tuesday, Sep 4",CLE,Home,KCR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
139,"Wednesday, Sep 5",CLE,Home,KCR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
140,"Thursday, Sep 6",CLE,@,TOR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
141,"Friday, Sep 7",CLE,@,TOR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
142,"Saturday, Sep 8",CLE,@,TOR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
143,"Sunday, Sep 9",CLE,@,TOR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
144,"Monday, Sep 10",CLE,@,TBR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
145,"Tuesday, Sep 11",CLE,@,TBR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
146,"Wednesday, Sep 12",CLE,@,TBR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
147,"Friday, Sep 14",CLE,Home,DET,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
148,"Saturday, Sep 15",CLE,Home,DET,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
149,"Sunday, Sep 16",CLE,Home,DET,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
150,"Tuesday, Sep 18",CLE,Home,CHW,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
151,"Wednesday, Sep 19",CLE,Home,CHW,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
152,"Thursday, Sep 20",CLE,Home,CHW,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
153,"Friday, Sep 21",CLE,Home,BOS,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
154,"Saturday, Sep 22",CLE,Home,BOS,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
155,"Sunday, Sep 23",CLE,Home,BOS,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
156,"Monday, Sep 24",CLE,@,CHW,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
157,"Tuesday, Sep 25",CLE,@,CHW,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
158,"Wednesday, Sep 26",CLE,@,CHW,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
159,"Thursday, Sep 27",CLE,@,KCR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
160,"Friday, Sep 28",CLE,@,KCR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
161,"Saturday, Sep 29",CLE,@,KCR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None
162,"Sunday, Sep 30",CLE,@,KCR,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,NaN,None

In [156]:
missing=[team_schedule[x].Opp.unique() for x in team_schedule.keys()]
missed

['CWS',
 'CLE',
 'TOR',
 'CHC',
 'KC',
 'SF',
 'PIT',
 'LAD',
 'MIN',
 'NYY',
 'CIN',
 'OAK',
 'ATL',
 'NYM',
 'TB',
 'BAL',
 'WSH',
 'SEA',
 'DET']

In [147]:
set([y for x in missing for y in x])
team_dict={"CWS":"CHW",'CLE':'CLE'}

{u'ARI',
 u'ATL',
 u'BAL',
 u'BOS',
 u'CHC',
 u'CHW',
 u'CIN',
 u'CLE',
 u'COL',
 u'DET',
 u'HOU',
 u'KCR',
 u'LAA',
 u'LAD',
 u'MIA',
 u'MIL',
 u'MIN',
 u'NYM',
 u'NYY',
 u'OAK',
 u'PHI',
 u'PIT',
 u'SDP',
 u'SEA',
 u'SFG',
 u'STL',
 u'TBR',
 u'TEX',
 u'TOR',
 u'WSN'}

In [127]:
team_schedule['MIL']

      Tm place  Opp  game_date
78   MIL  Home  KCR 2018-06-26
79   MIL  Home  KCR 2018-06-27
80   MIL  Away  CIN 2018-06-28
81   MIL  Away  CIN 2018-06-29
82   MIL  Away  CIN 2018-06-30
83   MIL  Away  CIN 2018-07-01
84   MIL  Home  MIN 2018-07-02
85   MIL  Home  MIN 2018-07-03
86   MIL  Home  MIN 2018-07-04
87   MIL  Home  ATL 2018-07-05
88   MIL  Home  ATL 2018-07-06
89   MIL  Home  ATL 2018-07-07
90   MIL  Home  ATL 2018-07-08
91   MIL  Away  MIA 2018-07-09
92   MIL  Away  MIA 2018-07-10
93   MIL  Away  MIA 2018-07-11
94   MIL  Away  PIT 2018-07-12
95   MIL  Away  PIT 2018-07-13
96   MIL  Away  PIT 2018-07-14
97   MIL  Away  PIT 2018-07-14
98   MIL  Away  PIT 2018-07-15
99   MIL  Home  LAD 2018-07-20
100  MIL  Home  LAD 2018-07-21
101  MIL  Home  LAD 2018-07-22
102  MIL  Home  WSN 2018-07-23
103  MIL  Home  WSN 2018-07-24
104  MIL  Home  WSN 2018-07-25
105  MIL  Away  SFG 2018-07-26
106  MIL  Away  SFG 2018-07-27
107  MIL  Away  SFG 2018-07-28
108  MIL  Away  SFG 2018-07-29
109  MIL  Away  LAD 2018-07-30
110  MIL  Away  LAD 2018-07-31
111  MIL  Away  LAD 2018-08-01
112  MIL  Away  LAD 2018-08-02
113  MIL  Home  COL 2018-08-03
114  MIL  Home  COL 2018-08-04
115  MIL  Home  COL 2018-08-05
116  MIL  Home  SDP 2018-08-07
117  MIL  Home  SDP 2018-08-08
118  MIL  Home  SDP 2018-08-09
119  MIL  Away  ATL 2018-08-10
120  MIL  Away  ATL 2018-08-11
121  MIL  Away  ATL 2018-08-12
122  MIL  Away  CHC 2018-08-14
123  MIL  Away  CHC 2018-08-15
124  MIL  Away  STL 2018-08-17
125  MIL  Away  STL 2018-08-18
126  MIL  Away  STL 2018-08-19
127  MIL  Home  CIN 2018-08-20
128  MIL  Home  CIN 2018-08-21
129  MIL  Home  CIN 2018-08-22
130  MIL  Home  PIT 2018-08-24
131  MIL  Home  PIT 2018-08-25
132  MIL  Home  PIT 2018-08-26
133  MIL  Away  CIN 2018-08-28
134  MIL  Away  CIN 2018-08-29
135  MIL  Away  CIN 2018-08-30
136  MIL  Away  WSN 2018-08-31
137  MIL  Away  WSN 2018-09-01
138  MIL  Away  WSN 2018-09-02
139  MIL  Home  CHC 2018-09-03
140  MIL  Home  CHC 2018-09-04
141  MIL  Home  CHC 2018-09-05
142  MIL  Home  SFG 2018-09-07
143  MIL  Home  SFG 2018-09-08
144  MIL  Home  SFG 2018-09-09
145  MIL  Away  CHC 2018-09-10
146  MIL  Away  CHC 2018-09-11
147  MIL  Away  CHC 2018-09-12
148  MIL  Home  PIT 2018-09-14
149  MIL  Home  PIT 2018-09-15
150  MIL  Home  PIT 2018-09-16
151  MIL  Home  CIN 2018-09-17
152  MIL  Home  CIN 2018-09-18
153  MIL  Home  CIN 2018-09-19
154  MIL  Away  PIT 2018-09-21
155  MIL  Away  PIT 2018-09-22
156  MIL  Away  PIT 2018-09-23
157  MIL  Away  STL 2018-09-24
158  MIL  Away  STL 2018-09-25
159  MIL  Away  STL 2018-09-26
160  MIL  Home  DET 2018-09-28
161  MIL  Home  DET 2018-09-29
162  MIL  Home  DET 2018-09-30

In [103]:
a=d.Date[1] + " 2018"
g=datetime.strptime(a,"%A, %b %d %Y")
print(g.strftime("%Y-%m-%d"))

2018-03-29

In [109]:
d['fix_date']=d.Date + " 2018"
d['game_date']=pd.to_datetime(d.fix_date.apply(lambda x: datetime.strptime(x,"%A, %b %d %Y")).apply(lambda x: x.strftime("%Y-%m-%d")),infer_datetime_format=True)

In [110]:
d.game_date

1     2018-03-29
2     2018-03-30
3     2018-03-31
4     2018-04-02
5     2018-04-03
6     2018-04-04
7     2018-04-05
8     2018-04-06
9     2018-04-07
10    2018-04-08
11    2018-04-09
12    2018-04-10
13    2018-04-11
14    2018-04-12
15    2018-04-13
16    2018-04-14
17    2018-04-15
18    2018-04-16
19    2018-04-17
20    2018-04-18
21    2018-04-20
22    2018-04-21
23    2018-04-22
24    2018-04-23
25    2018-04-24
26    2018-04-25
27    2018-04-27
28    2018-04-28
29    2018-04-29
30    2018-04-30
31    2018-05-01
32    2018-05-02
33    2018-05-04
34    2018-05-05
35    2018-05-06
36    2018-05-08
37    2018-05-09
38    2018-05-10
39    2018-05-11
40    2018-05-12
41    2018-05-13
42    2018-05-14
43    2018-05-15
44    2018-05-17
45    2018-05-18
46    2018-05-19
47    2018-05-20
48    2018-05-21
49    2018-05-22
50    2018-05-23
         ...
113   2018-08-07
114   2018-08-08
115   2018-08-09
116   2018-08-10
117   2018-08-11
118   2018-08-12
119   2018-08-14
120   2018-08-15
121   2018-08-16
122   2018-08-17
123   2018-08-18
124   2018-08-19
125   2018-08-21
126   2018-08-22
127   2018-08-23
128   2018-08-24
129   2018-08-25
130   2018-08-26
131   2018-08-27
132   2018-08-28
133   2018-08-30
134   2018-08-31
135   2018-09-01
136   2018-09-02
137   2018-09-03
138   2018-09-04
139   2018-09-05
140   2018-09-07
141   2018-09-08
142   2018-09-09
143   2018-09-10
144   2018-09-11
145   2018-09-12
146   2018-09-13
147   2018-09-14
148   2018-09-15
149   2018-09-16
150   2018-09-17
151   2018-09-18
152   2018-09-19
153   2018-09-21
154   2018-09-22
155   2018-09-23
156   2018-09-24
157   2018-09-25
158   2018-09-26
159   2018-09-27
160   2018-09-28
161   2018-09-29
162   2018-09-30
Name: game_date, Length: 162, dtype: datetime64[ns]

In [73]:
d['game_date']=pd.to_datetime(d['Date'],infer_datetime_format=True)
d

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-03-29 00:00:00

In [59]:
df.to_csv("all_abs_edit.csv")

In [15]:
## statcast test
%timeit
data=statcast()

Warning: no date range supplied. Returning yesterday's Statcast data. For a different date range, try get_statcast(start_dt, end_dt).

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [3]:
data.shape

(3815, 90)

In [7]:
data[data.events.notnull()].shape

(976, 90)