In [2]:
import pandas as pd
from pybaseball import statcast
pd.options.display.max_rows=100
pd.options.display.max_columns=100

In [15]:
df1=pd.read_csv("abs_5-11.csv")
df2=pd.read_csv("abs_6-24.csv")

In [16]:
df1.shape,df2.shape

((38831, 89), (40000, 89))

In [26]:
df=pd.concat([df1,df2],axis=0).reset_index(drop=True)

In [27]:
df.player_name.nunique()

777

In [28]:
df.events.value_counts()

field_out                    34974
strikeout                    19678
single                       12281
double                        3980
home_run                      2635
force_out                     1750
grounded_into_double_play     1682
sac_fly                        564
triple                         401
sac_bunt                       383
double_play                    213
fielders_choice_out            149
strikeout_double_play           86
fielders_choice                 47
sac_fly_double_play              6
triple_play                      1
sac_bunt_double_play             1
Name: events, dtype: int64

In [29]:
df.events.isnull().sum()

0

In [30]:
df['hit']=df.events.apply(lambda x: 1 if x in ["single",'double','home_run','triple'] else 0)
df['ab']=df.events.apply(lambda x: 0 if x in ["sac_fly",'sac_bunt','sac_fly_double_play','sac_bunt_double_play'] else 1)

In [31]:
df['date']=pd.to_datetime(df['game_date'],infer_datetime_format=True)
sorted(df.date.unique())

[numpy.datetime64('2018-03-29T00:00:00.000000000'),
 numpy.datetime64('2018-03-30T00:00:00.000000000'),
 numpy.datetime64('2018-03-31T00:00:00.000000000'),
 numpy.datetime64('2018-04-01T00:00:00.000000000'),
 numpy.datetime64('2018-04-02T00:00:00.000000000'),
 numpy.datetime64('2018-04-03T00:00:00.000000000'),
 numpy.datetime64('2018-04-04T00:00:00.000000000'),
 numpy.datetime64('2018-04-05T00:00:00.000000000'),
 numpy.datetime64('2018-04-06T00:00:00.000000000'),
 numpy.datetime64('2018-04-07T00:00:00.000000000'),
 numpy.datetime64('2018-04-08T00:00:00.000000000'),
 numpy.datetime64('2018-04-09T00:00:00.000000000'),
 numpy.datetime64('2018-04-10T00:00:00.000000000'),
 numpy.datetime64('2018-04-11T00:00:00.000000000'),
 numpy.datetime64('2018-04-12T00:00:00.000000000'),
 numpy.datetime64('2018-04-13T00:00:00.000000000'),
 numpy.datetime64('2018-04-14T00:00:00.000000000'),
 numpy.datetime64('2018-04-15T00:00:00.000000000'),
 numpy.datetime64('2018-04-16T00:00:00.000000000'),
 numpy.datetime64('2018-04-17T00:00:00.000000000'),
 numpy.datetime64('2018-04-18T00:00:00.000000000'),
 numpy.datetime64('2018-04-19T00:00:00.000000000'),
 numpy.datetime64('2018-04-20T00:00:00.000000000'),
 numpy.datetime64('2018-04-21T00:00:00.000000000'),
 numpy.datetime64('2018-04-22T00:00:00.000000000'),
 numpy.datetime64('2018-04-23T00:00:00.000000000'),
 numpy.datetime64('2018-04-24T00:00:00.000000000'),
 numpy.datetime64('2018-04-25T00:00:00.000000000'),
 numpy.datetime64('2018-04-26T00:00:00.000000000'),
 numpy.datetime64('2018-04-27T00:00:00.000000000'),
 numpy.datetime64('2018-04-28T00:00:00.000000000'),
 numpy.datetime64('2018-04-29T00:00:00.000000000'),
 numpy.datetime64('2018-04-30T00:00:00.000000000'),
 numpy.datetime64('2018-05-01T00:00:00.000000000'),
 numpy.datetime64('2018-05-02T00:00:00.000000000'),
 numpy.datetime64('2018-05-03T00:00:00.000000000'),
 numpy.datetime64('2018-05-04T00:00:00.000000000'),
 numpy.datetime64('2018-05-05T00:00:00.000000000'),
 numpy.datetime64('2018-05-06T00:00:00.000000000'),
 numpy.datetime64('2018-05-07T00:00:00.000000000'),
 numpy.datetime64('2018-05-08T00:00:00.000000000'),
 numpy.datetime64('2018-05-09T00:00:00.000000000'),
 numpy.datetime64('2018-05-10T00:00:00.000000000'),
 numpy.datetime64('2018-05-11T00:00:00.000000000'),
 numpy.datetime64('2018-05-12T00:00:00.000000000'),
 numpy.datetime64('2018-05-13T00:00:00.000000000'),
 numpy.datetime64('2018-05-14T00:00:00.000000000'),
 numpy.datetime64('2018-05-15T00:00:00.000000000'),
 numpy.datetime64('2018-05-16T00:00:00.000000000'),
 numpy.datetime64('2018-05-17T00:00:00.000000000'),
 numpy.datetime64('2018-05-18T00:00:00.000000000'),
 numpy.datetime64('2018-05-19T00:00:00.000000000'),
 numpy.datetime64('2018-05-20T00:00:00.000000000'),
 numpy.datetime64('2018-05-21T00:00:00.000000000'),
 numpy.datetime64('2018-05-22T00:00:00.000000000'),
 numpy.datetime64('2018-05-23T00:00:00.000000000'),
 numpy.datetime64('2018-05-24T00:00:00.000000000'),
 numpy.datetime64('2018-05-25T00:00:00.000000000'),
 numpy.datetime64('2018-05-26T00:00:00.000000000'),
 numpy.datetime64('2018-05-27T00:00:00.000000000'),
 numpy.datetime64('2018-05-28T00:00:00.000000000'),
 numpy.datetime64('2018-05-29T00:00:00.000000000'),
 numpy.datetime64('2018-05-30T00:00:00.000000000'),
 numpy.datetime64('2018-05-31T00:00:00.000000000'),
 numpy.datetime64('2018-06-01T00:00:00.000000000'),
 numpy.datetime64('2018-06-02T00:00:00.000000000'),
 numpy.datetime64('2018-06-03T00:00:00.000000000'),
 numpy.datetime64('2018-06-04T00:00:00.000000000'),
 numpy.datetime64('2018-06-05T00:00:00.000000000'),
 numpy.datetime64('2018-06-06T00:00:00.000000000'),
 numpy.datetime64('2018-06-07T00:00:00.000000000'),
 numpy.datetime64('2018-06-08T00:00:00.000000000'),
 numpy.datetime64('2018-06-09T00:00:00.000000000'),
 numpy.datetime64('2018-06-10T00:00:00.000000000'),
 numpy.datetime64('2018-06-11T00:00:00.000000000'),
 numpy.datetime64('2018-06-12T00:00:00.000000000'),
 numpy.datetime64('2018-06-13T00:00:00.000000000'),
 numpy.datetime64('2018-06-14T00:00:00.000000000'),
 numpy.datetime64('2018-06-15T00:00:00.000000000'),
 numpy.datetime64('2018-06-16T00:00:00.000000000'),
 numpy.datetime64('2018-06-17T00:00:00.000000000'),
 numpy.datetime64('2018-06-18T00:00:00.000000000'),
 numpy.datetime64('2018-06-19T00:00:00.000000000'),
 numpy.datetime64('2018-06-20T00:00:00.000000000'),
 numpy.datetime64('2018-06-21T00:00:00.000000000'),
 numpy.datetime64('2018-06-22T00:00:00.000000000'),
 numpy.datetime64('2018-06-23T00:00:00.000000000'),
 numpy.datetime64('2018-06-24T00:00:00.000000000')]

In [32]:
df['htd']=df.sort_values(['date','inning'],ascending=True).groupby(['player_name']).hit.cumsum()
df['abtd']=df.sort_values(['date','inning'],ascending=True).groupby(['player_name']).ab.cumsum()
df['avg']=df.htd/df.abtd

In [33]:
df[['player_name','date','inning','hit','ab','htd','abtd','avg']].sort_values(['player_name','date','inning'],ascending=True).head(100)

        player_name       date  inning  hit  ab  htd  abtd       avg
34342     A.J. Cole 2018-04-03       2    1   1    1     1  1.000000
34191     A.J. Cole 2018-04-03       3    0   1    1     2  0.500000
27480     A.J. Cole 2018-04-11       3    0   0    1     2  0.500000
27261     A.J. Cole 2018-04-11       5    0   1    1     3  0.333333
35206    A.J. Ellis 2018-04-02       2    0   1    0     1  0.000000
34810    A.J. Ellis 2018-04-02       6    0   1    0     2  0.000000
34643    A.J. Ellis 2018-04-02       8    0   1    0     3  0.000000
34333    A.J. Ellis 2018-04-03       2    0   1    0     4  0.000000
34102    A.J. Ellis 2018-04-03       5    1   1    1     5  0.200000
33956    A.J. Ellis 2018-04-03       6    0   1    1     6  0.166667
31349    A.J. Ellis 2018-04-07       3    1   1    2     7  0.285714
31135    A.J. Ellis 2018-04-07       5    0   0    2     7  0.285714
30835    A.J. Ellis 2018-04-07       7    0   1    2     8  0.250000
30572    A.J. Ellis 2018-04-07      10    0   1    2     9  0.222222
27444    A.J. Ellis 2018-04-11       3    0   1    2    10  0.200000
24911    A.J. Ellis 2018-04-14       2    0   1    2    11  0.181818
24677    A.J. Ellis 2018-04-14       5    1   1    3    12  0.250000
24437    A.J. Ellis 2018-04-14       7    0   1    3    13  0.230769
22836    A.J. Ellis 2018-04-17       2    0   1    3    14  0.214286
22545    A.J. Ellis 2018-04-17       5    0   1    3    15  0.200000
22319    A.J. Ellis 2018-04-17       7    0   1    3    16  0.187500
17187    A.J. Ellis 2018-04-23       2    0   1    3    17  0.176471
17053    A.J. Ellis 2018-04-23       4    0   1    3    18  0.166667
16900    A.J. Ellis 2018-04-23       7    0   1    3    19  0.157895
16747    A.J. Ellis 2018-04-23       8    0   1    3    20  0.150000
11552    A.J. Ellis 2018-04-29       2    1   1    4    21  0.190476
11319    A.J. Ellis 2018-04-29       4    0   1    4    22  0.181818
11022    A.J. Ellis 2018-04-29       6    0   1    4    23  0.173913
10815    A.J. Ellis 2018-04-29       8    1   1    5    24  0.208333
10494    A.J. Ellis 2018-04-30       4    0   1    5    25  0.200000
10335    A.J. Ellis 2018-04-30       6    0   0    5    25  0.200000
10189    A.J. Ellis 2018-04-30       8    1   1    6    26  0.230769
8710     A.J. Ellis 2018-05-02       3    0   1    6    27  0.222222
8404     A.J. Ellis 2018-05-02       5    0   1    6    28  0.214286
4926     A.J. Ellis 2018-05-06       2    0   1    6    29  0.206897
4699     A.J. Ellis 2018-05-06       4    0   1    6    30  0.200000
4477     A.J. Ellis 2018-05-06       6    1   1    7    31  0.225806
4233     A.J. Ellis 2018-05-06       8    1   1    8    32  0.250000
2450     A.J. Ellis 2018-05-09       2    1   1    9    33  0.272727
2237     A.J. Ellis 2018-05-09       4    1   1   10    34  0.294118
2038     A.J. Ellis 2018-05-09       6    0   1   10    35  0.285714
1867     A.J. Ellis 2018-05-09       8    0   1   10    36  0.277778
727      A.J. Ellis 2018-05-11       2    0   1   10    37  0.270270
270      A.J. Ellis 2018-05-11       6    1   1   11    38  0.289474
76553    A.J. Ellis 2018-05-14       3    0   1   11    39  0.282051
76453    A.J. Ellis 2018-05-14       4    0   1   11    40  0.275000
76307    A.J. Ellis 2018-05-14       6    1   1   12    41  0.292683
76143    A.J. Ellis 2018-05-14       9    0   1   12    42  0.285714
71419    A.J. Ellis 2018-05-20       3    0   1   12    43  0.279070
71191    A.J. Ellis 2018-05-20       5    1   1   13    44  0.295455
70924    A.J. Ellis 2018-05-20       7    0   1   13    45  0.288889
70666    A.J. Ellis 2018-05-20       9    1   1   14    46  0.304348
70515    A.J. Ellis 2018-05-21       2    1   1   15    47  0.319149
70358    A.J. Ellis 2018-05-21       4    0   1   15    48  0.312500
70149    A.J. Ellis 2018-05-21       7    0   1   15    49  0.306122
70024    A.J. Ellis 2018-05-21       9    0   1   15    50  0.300000
66357    A.J. Ellis 2018-05-26       2    1   1   16    51  0.313725
66060    A.J. Ellis 2018-05-26       5    1   1   17    52  0.326923
65822    A.J. Ellis 2018-05-26       7    0   1   17    53  0.320755
65687    A.J. Ellis 2018-05-26       8    0   1   17    54  0.314815
64810    A.J. Ellis 2018-05-27       8    1   1   18    55  0.327273
64195    A.J. Ellis 2018-05-28       2    0   1   18    56  0.321429
63933    A.J. Ellis 2018-05-28       4    0   1   18    57  0.315789
63659    A.J. Ellis 2018-05-28       7    0   1   18    58  0.310345
61061    A.J. Ellis 2018-05-31       2    1   1   19    59  0.322034
60944    A.J. Ellis 2018-05-31       3    0   1   19    60  0.316667
60682    A.J. Ellis 2018-05-31       7    0   1   19    61  0.311475
59117    A.J. Ellis 2018-06-02       3    0   1   19    62  0.306452
58633    A.J. Ellis 2018-06-02       7    0   1   19    63  0.301587
56970    A.J. Ellis 2018-06-05       2    0   1   19    64  0.296875
56521    A.J. Ellis 2018-06-05       5    1   1   20    65  0.307692
54231    A.J. Ellis 2018-06-08       2    0   1   20    66  0.303030
53892    A.J. Ellis 2018-06-08       5    0   1   20    67  0.298507
53585    A.J. Ellis 2018-06-08       7    1   1   21    68  0.308824
50689    A.J. Ellis 2018-06-12       3    0   1   21    69  0.304348
50554    A.J. Ellis 2018-06-12       4    1   1   22    70  0.314286
50328    A.J. Ellis 2018-06-12       7    0   0   22    70  0.314286
48744    A.J. Ellis 2018-06-14       3    1   1   23    71  0.323944
48566    A.J. Ellis 2018-06-14       6    1   1   24    72  0.333333
48449    A.J. Ellis 2018-06-14       8    0   1   24    73  0.328767
47091    A.J. Ellis 2018-06-16       2    1   1   25    74  0.337838
46798    A.J. Ellis 2018-06-16       5    0   1   25    75  0.333333
46525    A.J. Ellis 2018-06-16       8    0   1   25    76  0.328947
43218    A.J. Ellis 2018-06-20       3    1   1   26    77  0.337662
43046    A.J. Ellis 2018-06-20       4    0   1   26    78  0.333333
42783    A.J. Ellis 2018-06-20       7    0   1   26    79  0.329114
42659    A.J. Ellis 2018-06-20       9    0   1   26    80  0.325000
42550    A.J. Ellis 2018-06-21       3    0   1   26    81  0.320988
42261    A.J. Ellis 2018-06-21       8    0   1   26    82  0.317073
40711    A.J. Ellis 2018-06-23       3    1   1   27    83  0.325301
40500    A.J. Ellis 2018-06-23       5    1   1   28    84  0.333333
40041    A.J. Ellis 2018-06-23       9    1   1   29    85  0.341176
38744  A.J. Pollock 2018-03-29       1    1   1    1     1  1.000000
38546  A.J. Pollock 2018-03-29       3    0   1    1     2  0.500000
38190  A.J. Pollock 2018-03-29       6    0   1    1     3  0.333333
38075  A.J. Pollock 2018-03-29       7    0   1    1     4  0.250000
37850  A.J. Pollock 2018-03-30       1    1   1    2     5  0.400000
37661  A.J. Pollock 2018-03-30       3    1   1    3     6  0.500000
37506  A.J. Pollock 2018-03-30       4    0   1    3     7  0.428571
37328  A.J. Pollock 2018-03-30       6    0   1    3     8  0.375000

In [35]:
df.to_csv("all_abs_edit.csv")

In [15]:
## statcast test
%timeit
data=statcast()

Warning: no date range supplied. Returning yesterday's Statcast data. For a different date range, try get_statcast(start_dt, end_dt).

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [3]:
data.shape

(3815, 90)

In [7]:
data[data.events.notnull()].shape

(976, 90)